body{
  margin: auto;
}
.day-mode{
  background-color: #9ccef4;
}
.night-mode{
  background-color: #0b1069;
}
.header-div{
  background-color: #759eda;
  height: 100px;
  display: flex;
  align-items: center;
  
  /* #5879c7 */
  /* #9ccef4 */
}
.header-input{
  border: none;
  padding: 5px;
  height: 20px;
  margin: auto 20px;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white
}
.header-input:focus{
  outline: none;
}
.header-button{
  background-color: #5879c7;
  border: none;
  height: 30px;
  padding: 5px;
  text-transform: uppercase ;
  color: white
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-img{
  width: 20%;
}
.content-p span{
  font-weight: 100;
  margin: 20px;
}
.upcoming-div{
  display: flex;
  margin: 50px 7% auto 7%
}
.upcoming-inner-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upcoming-img{
  width: 60%
}

@media only screen and (max-width: 600px) {
  .upcoming-div {
    flex-direction: column;
  }
}
